/* html {
    box-sizing: border-box;
    background:#eeeeee;
    font-family:'helvetica neue';
    font-size: 20px;
    font-weight: 200;
  }
  body {
    margin: 0;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .site-wrap {
    max-width: 700px;
    margin: 70px auto;
    background:white;
    padding:40px;
    text-align: justify;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
    transform: scale(0.98);
    transition: transform 0.5s;
  }
  
  .fixed-nav + .site-wrap {
    transform: scale(1);
  }
  
  
  .header {
    text-align: center;
    height:50vh;
    background:url(http://wes.io/iEgP/wow-so-deep.jpg) bottom center no-repeat;
    background-size:cover;
    display:flex;
    align-items:center;
    justify-content: center;
  }
  
  .title {
    color:white;
    font-size: 7vw;
    text-shadow: 3px 4px 0 rgba(0,0,0,0.2)
  }
  
  .nav {
    background:black;
    top:0;
    width: 100%;
    transition:all 0.5s;
    position: relative;
    z-index: 1;
  }
  
  .fixed-nav {
    position: fixed;
    box-shadow:0 5px 0 rgba(0,0,0,0.1);
  }
  
  .nav ul {
    margin: 0;
    padding:0;
    list-style: none;
    display:flex;
  }
  
  .nav li {
    flex:1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo {
    max-width:0;
    overflow: hidden;
    background: white;
    transition: all 0.5s;
    font-weight: 600;
    font-size: 30px;
  }
  
  .nav a {
    text-decoration: none;
    padding:20px;
    display: inline-block;
    color:white;
    transition:all 0.2s;
    text-transform: uppercase;
  }
  
  .logo a {
    color:black;
  }
  
  .fixed-nav .logo {
    max-width:500px;
  }
   */
  /* end  */

  /* second task */
  /* .btn {
    position: absolute;
    padding: 20px 30px;
    border-radius: 5px;
    border: none;
    top: 30px;
    left: 50%;
    color: #fff;
    background-color: blue;
    outline: none;
    text-transform: capitalize;
    font-size: 30px;
    transition: 0.3s ease all;
    
/* .win {
    background-color: green;
}
.faill {
    background-color: red;
}
.danger {
    background-color: brown;
}
.atention {
    background-color: yellowgreen;
}
.list__item {
    transition: 1s;
}
.change {
    color: red;
    font-size: 50px;
    font-weight: 700;
}
.hide {
    display: none;
} */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#gallery{
  display: flex;
  width: 55%;
  margin: 10px auto;
  flex-wrap: wrap; 
}
#gallery img{
  width: 30%;
  height: 300px;
  margin: 3px;
  border-radius: 5px;
}
.img-wrap{
  width: 60%;
  height: 90vh;
  overflow: hidden;
  transition: 1s linear;
}
.img-wrap img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-wrap{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.678); 
  display: flex;
  transition: .5s linear;

}
.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s linear;
  position: relative;
}
.controls{
  position: absolute;
  content: "";
  right: 5%;
  top: 5%;
  display: flex;
}
.close-btn{ 
  width: 30px;
  height: 30px;
  background-color: rgb(219, 0, 0);
  text-align: center;
  line-height: 30px;
  color: #fff;
  border-radius: 50%;
  font-family: sans-serif;
  font-weight: 700;
  cursor: pointer;

} 
.gallery-sidebar__btn{
  width: 30px;
  height: 30px;
  background: url(./img/layout.png) no-repeat center;
  background-size: 90%;
  margin-right: 15px;
  cursor: pointer;
}
.gallery-sidebar{ 
  width: 0%;
  background-color: #0000008c;;
  height: 100vh; 
  transition: 1s ease-in-out; 
  display: flex;
  flex-wrap: wrap; 
  align-content: end;
  transform-origin: 100% 0;
  opacity: 0;
}

.single-image{
  width: 50%;
  height: 65px;
}
.single-image:hover{
 filter: grayscale();
}

.sidebar-width{
  width: 10%;
  transition: 1s ease-in-out;
  opacity: 1;
}

.hidden{
  opacity: 0;
  z-index: -100;
  transition: .2s linear;
}